<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="pl.com.garage"/>


    <!--to samo co 1-->
    <!--<context:property-placeholder location="classpath:params.properties" file-encoding="windows-1250" ignore-unresolvable="true"/>-->

    <import resource="classpath:dao.xml"/>


    <!--<bean id="productService" class="pl.com.sages.spring.bootcamp.service.ProductService"/>-->
    <!--<bean id="paymentService" class="pl.com.sages.spring.bootcamp.service.PaymentService" />-->
    <!--<bean id="cartService" class="pl.com.sages.spring.bootcamp.service.CartService"/>-->

    <!--<bean id="applicationService" class="pl.com.sages.spring.bootcamp.service.ApplicationService" init-method="afterCreate" destroy-method="beforeDestroy" scope="prototype">-->
    <!--<property name="applicationName" value="${kodolamacz.app.name}"/>-->
    <!--</bean>-->
</beans>